.error {
  color: rgb(222, 50, 38);
  font-size: 12px;
  line-height: 20px;
  margin-top: 10px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.label {
  color: rgba(0, 0, 0, 0.26);
  font-size: 12px;
}

.container {
  padding-bottom: 25px;
}